@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}

.custom-button-color {
  background-color: #f3333e;
}

.custom-bg-color {
  background-color: rgb(0, 38, 62);
}
