@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}

.custom-button-color {
  background-color: #f3333e;
}

.custom-text-color {
  color: #f3333e;
}

.custom-border-color {
  border: 2px solid #f3333e;
}

.custom-bg-color {
  background-color: rgb(0, 38, 62);
}

.merchant-logo-size {
  height: 218px;
  width: 260px;
}
.ModalWrapperAlert {
  max-width: 60%;
  height: 100%;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  display: flex;
  position: relative;
  z-index: 10;
  padding: 3rem 0;
  border-radius: 10px;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .ModalWrapperAlert {
    max-width: 80%;
  }
}
.custom-select-arrow {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent
    url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    no-repeat 20px center;
  /* background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='current-color'/></g></svg>")
    no-repeat; */
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 96%;
}
